version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12
      - image: circleci/mysql:5.7
        environment:
          MYSQL_ROOT_PASSWORD: pass123
          MYSQL_DATABASE: cooking
          MYSQL_USER: cooking
          MYSQL_PASSWORD: pass123
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Waiting for MySQL to be ready
          command: |
            for i in `seq 1 30`;
            do
              nc -z 127.0.0.1 3306 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for MySQL && exit 1
      - run:
          name: Install MySQL CLI
          command: |
            sudo apt-get install mysql-client
      - run: npm install
      - run: npm run bootstrap
      - run: npm run dev

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build